.logo {
  color: white;
  font-size: 2em;
}

.container__form {
  padding: 10px;
  margin: 50px auto;
  width: 300px;
  border: 1px solid rgb(0, 0, 0);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}
